:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* thumb and track color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", system-ui !important;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}

input {
  font-size: 14px;
  border: none;
  outline: none;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.justify-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.ai-start {
  align-items: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-start {
  justify-content: start;
}

.cursor {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.auto {
  margin: auto;
}

.xsm-gap {
  gap: 5px;
}

.sm-gap {
  gap: 10px;
}

.md-gap {
  gap: 15px;
}

.lg-gap {
  gap: 20px;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}
